JIRA_BASE_URL=https://housecall.atlassian.net
JIRA_EMAIL=your@email.com
JIRA_TOKEN=your_jira_api_token_here
JIRA_PROJECT_KEY=REP

GITLAB_BASE_URL=https://gitlab.housecalldev.com
GITLAB_TOKEN=your_gitlab_token_here
GITLAB_PROJECT_ID=435
GITLAB_REPO=housecall/housecall-web
GITLAB_AUTHOR_USERNAME=your_gitlab_username

AMPLITUDE_MANAGEMENT_KEY=your_amplitude_management_key_here
